body{
    text-align: center;
    background-color: hsl(0, 0%, 8%);
    min-height: 100%;
    overflow:hidden;
    position:relative;
    top:145px;
    font-family:Inter;
    left:20px;


}

.container{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column
}
.box-1{
    border:solid,hsl(0, 0%, 12%);
    border-width:139px;
    height:150px;
    position:absolute;
    border-radius:3%;

}



#avatar{
    width: 60px;
    border-radius:50%;
    position:relative;
    margin:10px;
    top:6px;


}

h1{
    color:hsl(0, 0%, 100%);
    position:relative;
    font-size:17px;
    font-weight:590;
    top:2px

}

#location{
    color: hsl(75, 94%, 57%);
    position:relative;
    font-size:x-small;
    font-weight:600;
    bottom:12px;

}

#job{
    color: hsl(0, 0%, 100%);
    position:relative;
    font-size:x-small;
    bottom:10px

}

#links{
    color: hsl(0, 0%, 100%);
    font-size:x-small;
    font-weight:700;
    position:relative;
    bottom:10px

}

.rectangle{
    border:solid, hsl(0, 0%, 20%);
    background-color:hsl(0, 0%, 20%);
    width:200px;
    border-radius: 5px;
    margin:6px;
    padding:8px;


}

.rectangle:hover{
    background-color:  hsl(75, 94%, 57%);
    border:solid, hsl(75, 94%, 57%);   
    transition: background-color 0.3s ease;

}

#links:hover{
    color: hsl(0, 0%, 20%);
    cursor:pointer
    
}