body{
    background-color: hsl(47, 88%, 63%);
    text-align:center;
    width: 100%;
    font-family: figtree;
    display: grid;
    position: relative;
    justify-content:center;
    overflow:hidden;
    min-height:100vh;
}
main{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

  

h1{
    font-size:11px;
    position: relative;
    bottom:188px;
    left:164px; 
    
}

#top{
    color:black;
    font-weight: 495;
    font-size:x-small;
    position:relative;
    bottom:188px;
    right:50px;
    
}
h2{
    font-size:medium;
    position:relative;
    bottom:190px;
    right:9px;
    font-weight:800;
}

h2:hover{
    color: hsl(47, 88%, 63%);
    cursor:pointer;
}

#end{
    color: rgba(101, 100, 100, 0.916);
    position:relative;
    bottom:195px;
    left: 163px;
    font-size: 12px;
    text-align:start;

}
h3{
    font-size:x-small;
    position:relative;
    bottom:180px;
    right: 40px;
    font-weight:800;
}

#image-card{
    width: 44%;
position:relative;
bottom:190px;
left:30px;
border-radius:5px
}

#avatar{
    width:20px;
    position:relative;
    right:208px;
    bottom:8px 
}

.flexbox-container{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

.flexbox-item{
    border:solid,white;
    width: 260px;
    border-bottom-width: 350px;
    position:relative;
    top:150px;
    left:150px;
    border-radius:12px;
    outline-color: black;
    outline-style: solid;
    outline-width:1px;
    box-shadow: 6px 7px 1px rgb(0, 0, 0);
}

.rectangle{
border:solid, hsl(47, 88%, 63%);
width: 58px;
height: 16px;
background-color: hsl(47, 88%, 63%);
border-radius:3px;

}
